################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/ProjetoAutomacaoDeFolha/.vs/ProjetoFolha/FileContentIndex/11175781-006a-49b7-8d98-0a71f22232f6.vsidx
/ProjetoAutomacaoDeFolha/.vs/ProjetoFolha/FileContentIndex/58ecd24d-7a03-4093-a9b5-dbc2d7b8ab75.vsidx
