@using ProjetoFolha.Enums;
@model CadastroFuncionarioModel
@{
    ViewData["Title"] = "Editar Funcionario";
    Layout = "_LayoutMain";
}


<main id="main" class="main">
    <div class="text-center">
        <div class="pagetitle">
            <h1>Atualizar Cadastro de Funcionário</h1>
        </div>
    </div>
    @Html.ValidationSummary()
    <section class="section">
        <div class="row">
            <div class="texte-center">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Dados Cadastrais</h5>
                        <form asp-controller="CadastroFuncionarioController" asp-action="EditarFuncionario" method="post">
                            <input type="hidden" asp-for="Cod_Fun" />
                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label">Nome Completo</label>
                                <div class="col-sm-10">
                                    <input type="text" asp-for="nome" class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputEmail" class="col-sm-2 col-form-label">E-mail</label>
                                <div class="col-sm-10">
                                    <input type="email" asp-for="email" class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label">Perfil</label>
                                <div class="col-sm-10">
                                    <select asp-for="Perfil" class="form-control">
                                        <option value="0">Selecione o Perfil de Acessso</option>
                                        <option value="@PerfilEnum.Admin">Administrador</option>
                                        <option value="@PerfilEnum.Padrao">Padrão</option>
                                        <!-- Adicione mais opções conforme necessário -->
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputDate" class="col-sm-2 col-form-label">Data da Admissão</label>
                                <div class="col-sm-10">
                                    <input type="date" asp-for="dataAdmissao" class="form-control">
                                </div>
                            </div>
                            <!-- Validação de CPF -->
                            <div class="row mb-3">
                                <label for="cpfInput" class="col-sm-2 col-form-label">CPF</label>
                                <div class="col-sm-10">
                                    <input type="text" id="cpfInput" asp-for="cpf" class="form-control" minlength="14" maxlength="14" required>
                                </div>
                            </div>
                            <script>
                                document.getElementById('cpfInput').addEventListener('input', function () {
                                    let cpf = this.value.replace(/\D/g, '');
                                    if (cpf.length > 3) {
                                        cpf = cpf.substring(0, 3) + '.' + cpf.substring(3);
                                    }
                                    if (cpf.length > 7) {
                                        cpf = cpf.substring(0, 7) + '.' + cpf.substring(7);
                                    }
                                    if (cpf.length > 11) {
                                        cpf = cpf.substring(0, 11) + '-' + cpf.substring(11, 14);
                                    }
                                    this.value = cpf;

                                    validarTamanhoCPF();
                                });

                                function validarTamanhoCPF() {
                                    let cpf = document.getElementById('cpfInput').value.replace(/\D/g, '');
                                    if (cpf.length < 11) {
                                        document.getElementById('cpfInput').setCustomValidity('O CPF deve ter pelo menos 14 caracteres');
                                    } else {
                                        document.getElementById('cpfInput').setCustomValidity('');
                                    }
                                }
                            </script>
                            <!-- Validação de senha -->
                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label">Criar Senha</label>
                                <div class="col-sm-10">
                                    <input type="password" asp-for="senha" class="form-control" id="senha" minlength="8" required>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label">Repita a Senha</label>
                                <div class="col-sm-10">
                                    <input type="password" asp-for="ConfirmarSenha" class="form-control" id="confirmarSenha" minlength="8" required>
                                </div>
                                <script>
                                    document.addEventListener('DOMContentLoaded', function () {
                                        var senha = document.getElementById('senha');
                                        var confirmarSenha = document.getElementById('confirmarSenha');

                                        function validarSenha() {
                                            if (senha.value !== confirmarSenha.value) {
                                                confirmarSenha.setCustomValidity('As senhas não coincidem');
                                            } else {
                                                confirmarSenha.setCustomValidity('');
                                            }
                                        }

                                        function validarTamanhoSenha() {
                                            if (senha.value.length < 8) {
                                                senha.setCustomValidity('A senha deve ter pelo menos 8 caracteres');
                                            } else {
                                                senha.setCustomValidity('');
                                            }
                                        }

                                        senha.addEventListener('change', validarSenha);
                                        confirmarSenha.addEventListener('keyup', validarSenha);

                                        senha.addEventListener('input', validarTamanhoSenha);
                                    });
                                </script>
                            </div>

                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label">Selecione o Setor</label>
                                <div class="col-sm-10">
                                    <select asp-for="Id_ST" class="form-control">
                                        <option value="0">Selecione o Setor</option>
                                        <option value="1">Administrativo</option>
                                        <option value="2">Desenvolvimento</option>
                                        <option value="3">Almoxerifado</option>
                                        <option value="4">DBA</option>
                                        <!-- Adicione mais opções conforme necessário -->
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label">Cargo</label>
                                <div class="col-sm-10">
                                    <select asp-for="cargo" class="form-control">
                                        <option value="">Selecione o Cargo</option>
                                        <option value="Desenvolvedor Trainee">Desenvolvedor Trainee</option>
                                        <option value="Desenvolvedor Júnior">Desenvolvedor Júnior</option>
                                        <option value="Desenvolvedor Pleno">Desenvolvedor Pleno</option>
                                        <option value="Desenvolvedor Sênior">Desenvolvedor Sênior</option>
                                        <!-- Adicione mais opções conforme necessário -->
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label">Salário</label>
                                <div class="col-sm-10">
                                    <input type="number" asp-for="salarioBruto" class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label">Sexo</label>
                                <div class="col-sm-10">
                                    <select asp-for="sexoSelecionado" class="form-control">
                                        <option selected value="Não Informado">Selecione o Genero</option>
                                        <option value="Homem Cis">Homem Cis</option>
                                        <option value="Mulher Cis">Mulher Cis</option>
                                        <option value="Mulher Trans">Mulher Trans</option>
                                        <option value="Homem Trans">Homem Trans</option>
                                        <option value="Transgenero">Transgenero</option>
                                        <option value="Não-Binário">Não-Binário</option>
                                        <option value="Prefiro não dizer/Não me identifico">Prefiro não dizer/Não me identifico</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="d-flex justify-content-between">
                                    <a role="button" class="btn btn-secondary" asp-controller="CadastroFuncionario" asp-action="Index"> Voltar</a>
                                    <button type="submit" class="btn btn-success" asp-controller="CadastroFuncionario" asp-action="EditarFuncionario">Atualiazar</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </section>

</main>