@model CadastroFuncionarioModel



    <div class="card-body">
        <h5 class="card-title"> Benefícios <img style="width:40;height:40" src="~/beneficio.png" width="40" height="40"></h5>
        <p class="card-text"> Vale Alimentação: @Model.nome</p>
        <p class="card-text"> Desconto R$0,00</p>
        <p class="card-text"> Data de corte: 30</p>
        <p class="card-text"> Crédito: Fixo Mensal</p>
    </div>

                            

