@model ProjetoFolha.Models.CadastroFuncionarioModel

<table>
    <tr>
        <th>Descrição</th>
        <th>Valor</th>
    </tr>
    <tr>
        <td>Nome do Funcionário</td>
        <td>@Model.nome</td>
    </tr>
    <tr>
        <td>Cargo</td>
        <td>@Model.cargo</td>
    </tr>
    <tr>
        <td>Salário Base</td>
        <td>@Model.salarioBruto</td>
    </tr>
</table>