@model RecibosDePagamentoModel
@{
    ViewData["Title"] = "Gerador de Holerites";
    Layout = "_LayoutMain";
}

<main id="main" class="main">
    <div class="text-center">
        <div class="pagetitle">
            <h1>Gerador de Holerite</h1>
        </div>
    </div>
    @Html.ValidationSummary()
    <section class="section">
        <div class="row">
            <div class="texte-center">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Informações da Folha</h5>
                        <form asp-controller="RecibosDePagamentoController" asp-action="GeradorDeHolerite" method="post">
                            @*@await Component.InvokeAsync("FuncionarioIdInput")*@
                            <input type="hidden" asp-for="CadastroFuncionarioId">
                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label">Horas Extras</label>
                                <div class="col-sm-10">
                                    <input type="text" asp-for="HorasExtras" class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label">Desconto INSS</label>
                                <div class="col-sm-10">
                                    <input type="text" asp-for="DescontoINSS" class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label">Desconto IR</label>
                                <div class="col-sm-10">
                                    <input type="text" asp-for="DescontoIR" class="form-control">
                                </div>
                            </div>
                            </br>
                            @*Calcule e mostre os campos Total de Vencimentos, Total de Descontos e Salário Líquido*@
                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label">Total de Vencimentos</label>
                                <div class="col-sm-10">
                                    <input type="text" asp-for="TotalVencimentos" class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label">Total de Descontos</label>
                                <div class="col-sm-10">
                                    <input type="text" asp-for="TotalDescontos" class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label">Salário Líquido</label>
                                <div class="col-sm-10">
                                    <input type="text" asp-for="SalarioLiquido" class="form-control"> @*oninput="formatCurrency(this)"*@
                                </div>
                            </div>
                            <!------SCRIPTS------>
                            @*<script>
                                function formatCurrency(input) {
                                    var value = input.value.replace(/\D/g, '');
                                    value = (value / 100).toFixed(2);
                                    var formattedValue = Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL' }).format(value);
                                    input.value = formattedValue;
                                }

                                function removeFormatting(input) {
                                    var value = input.value.replace(/[^\d]/g, ''); // Remove todos os não dígitos
                                    input.value = (value / 100).toFixed(2); // Converte para decimal com 2 casas decimais
                                }
                            </script>*@
                            <div class="row mb-3">
                                <div class="d-flex justify-content-between">
                                    <a role="button" class="btn btn-secondary" asp-controller="CadastroFuncionario" asp-action="Index"> Voltar</a>
                                    <button type="submit" class="btn btn-success" asp-controller="RecibosDePagamento" asp-action="GeradorDeHolerite">Gerar Holerite</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </section>

</main>


