@model RecibosDePagamentoModel

@{
    ViewData["Title"] = "RecibosDePagamento";
    Layout = "_LayoutMain";
}

<main id="main" class="main">
    <div class="text-center">
        <div class="pagetitle">
          <h1>Recibos De Pagamento</h1>
        </div>
    </div>
    <section class="section">
        <div class="row">
            <div class="text-center">
                <div class="card">
                    <div class="card body">
                        <div class="d-flex flex-row bd-highlight mb-3">
                        </div>

                        <body>
                            <div class="informações">
                             <strong>Id:</strong> 987<br />
                             <strong>Nome:</strong> Antonio da Silva <br/>
                             <strong>Empresa:</strong> JNGCV Software LTDA<br />

                            </div>
                            <br/>
                            <br/>
                           
                            <table class="">
                                <thead>
                                    <tr class="">

                                        <th scope="col">
                                            <a ="/recibodepagamento?sort=data&amp;sortdir=ASC">Data</a>
                                        </th>
                                        <th scope="col">
                                            <a ="/recibodepagamento?sort=nomeCalc&amp;sortdir=ASC">Tipo de Pagamento</a>
                                        </th>
                                        <th scope="col">
                                            <a ="/recibodepagamento?sort=valor&amp;sortdir=ASC">Valor</a>
                                        </th>
                                        <th scope="col">
                                            <a ="/recibodepagamento?sort=Visualizar-Documento&amp;sortdir=ASC">Visualizar Documento</a>
                                        </th>

                                    </tr>

                                </thead>

                                <tr class="webgrid-row-style">
                                     <td class="webgrid-columns"><p>05/06/2023</p></td>
                                     <td class="webgrid-columns"><p>Pagamento Mensal</p></td>
                                     <td class="webgrid-columns"><p style="text-align:center">R$2.448,00</p></td>
                                     <td class="webgrid-columns">
                                         <div class="pagination-centered">

                                            <a asp-controller="Holerite" asp-action="Index" class="btn btn-primary"> Visualizar</a>

                                         </div>
                                </tr>

                              

                            </table>
                        </body>
                        <br/>
                        <br/>

                        <div class="row">
                            <footer class="text-center">
                                <div class="navbar navbar-fixed-bottom ">
                                    <div class="modal-footer-GDoc">
                                        <p class="pagination-center"> Copyright © 2023 - JNGCV Software LTDA - Todos os Direitos Reservados.</p>
                                    </div>
                                </div>


                            </footer>


                        </div>




                    </div>

                </div>
            </div>

        </div>

    </section>

</main>





