@{
    ViewData["Title"] = "RecibosDePagamento";
    Layout = "_LayoutMain";
}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>RecibosDePagamento</h1>
    </div>
    <section class="section">
        <div class="row">
            <div class="col-lg-6">

                <div class="row">
                    <div class="col-10">
                        <div class=" = " card">
                            <div class="card_body">
                                <table border="1">
                                    <tr>
                                    </tr>
                                </table>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
