@{
    ViewData["Title"] = "RecibosDePagamento";
    Layout = "_LayoutMain";
}
@model RecibosDePagamentoModel

<main id="main" class="main">

    <section class="section">
        <div class="text-center">
            <table class="">
                <thead>
                    <div class="pagetitle">
                        <h1 class="display-4">Recibos De Pagamento</h1>
                    </div>
                    <style>
                        /* Estilos CSS para a formatação da tabela */
                        table {
                            width: 100%;
                            border-collapse: collapse;
                        }

                        th, td {
                            border: 1px solid #dddddd;
                            text-align: left;
                            padding: 8px;
                        }

                        tr:nth-child(even) {
                            background-color: #f2f2f2;
                        }
                    </style>
                    <tr class="">
                        <th scope="col">
                            <a href="/Holerith/Painel?sort=data&amp;sortdir=ASC">Data</a>
                        </th>
                        <th scope="col">
                            <a href="/Holerith/Painel?sort=nomeCalc&amp;sortdir=ASC">Tipo Pagamento</a>
                        </th>
                        <th scope="col">
                            <a href="/Holerith/Painel?sort=valor&amp;sortdir=ASC">Valor R$</a>
                        </th>
                        <th scope="col">
                            <a href="/Holerith/Painel?sort=Visualizar+Documento&amp;sortdir=ASC">Visualizar Documento</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="webgrid-row-style">
                        <td class="webgrid-columns"><p>01/06/2023</p></td>
                        <td class="webgrid-columns"><p>PAGAMENTO MENSAL</p></td>
                        <td class="webgrid-columns"><p style="text-align:center">2.448,00</p></td>
                        <td class="webgrid-columns">
                            <div class="pagination-centered">
                                <a href="/Holerith/PainelHolerith/882021?acesso=4">Visualizar</a>
                            </div>
                        </td>
                    </tr>
                    <tr class="webgrid-alternating-row">
                        <td class="webgrid-columns"><p>01/07/2023</p></td>
                        <td class="webgrid-columns"><p>PAGAMENTO MENSAL</p></td>
                        <td class="webgrid-columns"><p style="text-align:center">2.448,00</p></td>
                        <td class="webgrid-columns">
                            <div class="pagination-centered">
                                <a href="/Holerith/PainelHolerith/871320?acesso=2">Visualizar</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</main>
