@model CadastroFuncionarioModel


<div class="card-body">
    <h5 class="card-title">Informações do Funcionário</h5>
    <div class="mb-3">
        <strong class="info-label">Id:</strong> @Model.Cod_Fun
    </div>
    <div class="mb-3">
        <strong class="info-label">Nome:</strong> @Model.nome
    </div>
</div>

