@{
    ViewData["Title"] = "Consulta Benefício";
    Layout = "_LayoutMain";

}
@model CadastroFuncionarioModel
<main id="main" class="main">
    <div class="text-center">
        <div class="pagetitle">
            <h1 class="display-4">Consulta Benefício</h1>
        </div>
        <section class="section">
            <div class="row">
                <div class="text-center">
                    <div class="card mx-auto">
                        <div class="card-body text-center">
                            <div class="d-flex flex-row bd-highlight mb-3">
                                <h5 class="card-title">Benefícios</h5>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="card text-center">
                                        @await Component.InvokeAsync("Beneficio")
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="d-flex flex-row bd-highlight mb-3">
                                        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Voltar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
